<head profile="http://www.w3.org/2005/10/profile">
	<title>E-commerce website Elshoppen</title>
	<meta charset="UTF-8">
	<meta name="author" content="Jaime Garcia">
	<!-- Used to specify Favicon to avoid console error -->
	<link rel="icon" 
      type="image/png" 
      href="https://www.iconarchive.com/download/i67042/petalart/free-shopping/shopping-bag.ico">
      
	<!-- USed to specify scaling so it can be seen in smaller devices too -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--  External CSS style sheets used to beautify the page -->
	
	<!-- W3.CSS is a modern CSS framework, another good option would be Bootstrap -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<!-- Roboto is a specific font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<!-- Montserrat is a specific font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<!-- Font Awesome is an icon set and toolkit -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.w3-sidebar a {
			font-family: "Roboto", sans-serif
		}
		body, h1, h2, h3, h4, h5, h6, 
		.w3-wide {
			font-family: "Montserrat", sans-serif;
		}
        .checked {
          color: orange;
        }
	</style>
</head>